@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Smartflow-Sharp工作流平台</title>
    <link href="~/Content/login.css" rel="stylesheet" />
    <script src="~/Content/jquery.min.js"></script>

    <script type="text/javascript">

        $(function () {

            //用于演示
            $("#btnLogin").click(function () {
                var userName = document.getElementById("userName").value;
                if ($.trim(userName)) {
                    $.ajax({
                        url: '@Url.Action("GetUser","Default")',
                        data: { userName: userName },
                        dataType: 'json',
                        type: 'post',
                        cache: false,
                        success: function (result) {
                            if (result) {
                                window.location.href = '@Url.Action("Main","Default")';
                            } else {
                                alert('登录失败');
                            }
                        }
                    });
                }
            });
        });

    </script>
</head>
<body>
    <div class="login">
        <div class="message">Smartflow-Sharp工作流管理平台</div>
        <div id="darkbannerwrap"></div>
        <form method="post">
            <input name="action" value="login" type="hidden">
            <input name="username" placeholder="用户名" type="text" id="userName">
            <hr class="hr15">
            <input name="password" placeholder="密码可不填" type="password">
            <hr class="hr15">
            <input value="登录" style="width:100%;" type="button" id="btnLogin">
            <hr class="hr20">
        </form>
    </div>
</body>
</html>