@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Smartflow-Sharp工作流平台</title>
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Content/jquery.min.js"></script>
</head>
<body class="mainFrame">
    <div class="top">
        <span>Smartflow-Sharp 工作流平台</span>
    </div>
    <div class="content">
        <div class="left menu">
            <div class="menu-item">
                <ul class="menu-sub-items">
                    <li>
                        <a href="javascript:;">文件定密申请</a>
                    </li>
                    <li>
                        <a href="javascript:;">用户信息</a>
                    </li>
                    <li>
                        <a href="javascript:;">角色分配</a>
                    </li>
                    <li>
                        <a href="javascript:;">流程设计器</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right">
            <iframe style="width:100%;height:100%;" frameborder="0" src="@Url.Action("Pending", "Default")"></iframe>
         </div>
    </div>
</body>
</html>
