@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>工作流使用示例</title>
    <link href="~/Content/main.css" rel="stylesheet" />
    <script type="text/javascript">
        function go(url) {
            document.getElementById("iframeContent").src = url;
        }
    </script>
</head>
<body class="mainFrame">
    <div class="top">
        <span>Smartflow 工作流程管理系统</span>
    </div>
    <div class="content">
        <div class="left">
            <ul class="menu">
                <li>
                    <a href="javascript:go('../../../Smartflow.Web.Design/WorkflowDesign/List')">流程设计器</a>
                </li>
                <li>
                    <a href="javascript:go('@Url.Action("ApplyList", "Form")')">表单申请</a>
                </li>
            </ul>
        </div>
        <div class="right">
            <iframe id="iframeContent" style="width:100%;
                    height:100%;" frameborder="0" src="../../../Smartflow.Web.Design/WorkflowDesign/List"></iframe>
        </div>
    </div>
</body>
</html>
