@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Smartflow-Sharp工作流平台</title>
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Content/jquery.min.js"></script>
</head>
<body class="mainFrame">
    <div class="top">
        <span>Smartflow-Sharp 工作流平台</span>
    </div>
    <div class="content">
        <div class="left menu">
            <div class="menu-item">
                <ul class="menu-sub-items">
                    <li>
                        <a href="@Url.Action("FileApplyList", "FileApply")" target="frmContent">文件定密申请</a>
                    </li>
                    <li>
                        <a href="@Url.Action("UserList", "User")" target="frmContent">用户信息</a>
                    </li>
                    <li>
                        <a href="@Url.Action("RoleStatistics", "User")" target="frmContent">按角色统计</a>
                    </li>
                    <li>
                        <a href="@Url.Action("List", "Default")" target="frmContent">流程设计器</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right">
            <iframe style="width:100%;height:100%;"
                    id="frmContent"
                    name="frmContent"
                    frameborder="0"
                    src="about:blank;"></iframe>
        </div>
    </div>
</body>
</html>
