
*.dll
*.txt
*.pdb
*.xml
Smartflow/Program.cs
Smartflow/bin/Debug/Smartflow.dll.config
Dapper/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.cache
*.cache
*.cache
*.cache
*.cache
*.cache
*.cache
*.cache
*.cache
Smartflow/obj/Debug/Smartflow.csprojResolveAssemblyReference.cache
*.cache
Smartflow/obj/Debug/Smartflow.csprojResolveAssemblyReference.cache
Smartflow/obj/Debug/Smartflow.csprojResolveAssemblyReference.cache
Smartflow/obj/Debug/Smartflow.csprojResolveAssemblyReference.cache
*.cache
ConsoleApplication.Test/bin/Debug/ConsoleApplication.Test.vshost.exe.config
ConsoleApplication.Test/bin/Debug/ConsoleApplication.Test.vshost.exe
ConsoleApplication.Test/bin/Debug/ConsoleApplication.Test.exe.config
ConsoleApplication.Test/bin/Debug/ConsoleApplication.Test.exe
ConsoleApplication.Test/bin/Debug/ConsoleApplication.Test.vshost.exe.manifest
ConsoleApplication.Test/ConsoleApplication.Test.csproj
ConsoleApplication.Test/obj/Debug/ConsoleApplication.Test.exe
