
*.dll
*.pdb
Smartflow/Program.cs
Smartflow/bin/Debug/Smartflow.dll.config
Dapper/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache*.cache
Smartflow/obj/Debug/Smartflow.csprojResolveAssemblyReference.cache
*.cache
*.nupkg
*.xdt
packages/Microsoft.AspNet.WebApi.Core.4.0.30506.0/content/web.config.transform
*._
packages/repositories.config
*.config
*.resources
*.config
example/Smartflow.Web.Mvc/bin/Smartflow.Web.Mvc.dll.config
example/Smartflow.Web.Form/bin/Smartflow.Web.Form.dll.config
*.txt
*.xml
