@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>流程节点数据配置</title>
    <link href="~/Content/smartflow.css" rel="stylesheet" />
</head>
<body>
    <input type="text" />
</body>
</html>
