 html, body, div, ul {margin: 0;padding: 0;box-sizing: border-box;font-family:"Lucida Grande", Lucida Sans Unicode,Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif; }
 ul {list-style-type: none;}
 input,textarea{outline:none;}
 textarea {resize: none;}
 html, body {height: 100%;overflow: hidden;}
 .container {height: 100%;overflow: hidden;}
 .tools {width: 120px;float: left;background-color: #eee;height: 100%;}
 .tools::after {content: ".";display: block;visibility: hidden;height: 1%;clear: both;}
 .tools-menu li {line-height: 25px;text-align: center;}
 .tools-menu li a{text-decoration:none;}
 .container-draw {width: 100%; height: 100%;}
text {font-size: 14px;text-anchor: middle;pointer-events: none;font-family:"Lucida Grande", Lucida Sans Unicode,Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif; }

.smartflow-table{
    margin: 0 auto;
    border-collapse: collapse;
    width:100%;
    font-family:"Lucida Grande", Lucida Sans Unicode,Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif; 
    font-size:14px;
}
.smartflow-table td{
    line-height:28px;
}

.smartflow-table td input{
    padding-left:2px;
}

.smartflow-checkbox label{
     display:inline;
    vertical-align:middle;
}
.smartflow-checkbox input{
      display:inline-block;
    vertical-align:middle;
}

.smartflow-box{
    border:solid 1px #eee;
    vertical-align:top;
    width:280px;
}

.smartflow-list{
    height:240px;
    overflow:auto;
}


        div.card-tabs-bar {
            border-bottom: 1px solid #eaecef;
        }

            div.card-tabs-bar a {
                padding: 5px;
                padding-bottom: 1px;
                border: 1px solid transparant;
                color: #24292e;
                text-decoration: none;
                margin-left: 5px;
                outline: none;
            }

                div.card-tabs-bar a:first-child {
                    margin-left: 10px;
                }

                div.card-tabs-bar a:hover {
                    text-decoration: underline;
                }

                div.card-tabs-bar a.active {
                    border: 1px solid #eaecef;
                    border-bottom: none;
                    display: inline-block;
                    color: black;
                    font-weight: bold;
                   /* border-radius: 4px 4px 0px 0px;*/
                    padding-top: 6px;
                    margin-bottom: -10px;
                    background: #fff;
                }

                    div.card-tabs-bar a.active:hover {
                        text-decoration: none;
                    }

            div.card-tabs-bar.titles {
                margin-top: -10px;
            }

                div.card-tabs-bar.titles a {
                    font-size: 14px;
                }

        div.card-tabs-stack div[data-tab] {
            display: none;
            border-top: none;
            padding: 10px;
        }

            div.card-tabs-stack div[data-tab]:first-child {
                display: block;
            }




        /*  Green gray slate */
        div.card-tabs-bar.graygreen {
          /*  border-bottom: 1px solid #e5e5e5;*/
        }

            div.card-tabs-bar.graygreen a {
                padding: 10px;
                /*border-radius: 0px;*/
                margin: 0;
                padding-bottom: 10px;
                margin-bottom: -2px;
                font-size: 14px;
            }

                div.card-tabs-bar.graygreen a.active {
                    /*background-color: #fafafa;*/
                    border-top: 4px solid #2CC185;
                }

        div.card-tabs-stack.graygreen div[data-tab] {
            padding: 10px;
           /* background-color: #fafafa;*/
            /*border: 1px solid #e5e5e5;*/
            border-top: none;
        }


        
 .layui-layer-btn0, .layui-layer-btn1{
     border-radius:0 !important;
 }