.n-grid {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-family: "Microsoft Yahei UI Light","Microsoft Yahei",Arial;
    line-height: 1.8;
    max-width: 100%;
    color: #444;
}

    .n-grid table {
        table-layout: fixed;
        border-collapse: separate;
        border-spacing: 0;
        empty-cells: show;
        margin: 0;
        padding: 0;
        border: 0;
        width: 0;
    }

    .n-grid th {
        text-align: left;
    }

    .n-grid th, .n-grid td {
        padding: .5em;
        border-style: solid;
        border-color: #e5e5e5;
    }

    .n-grid .n-pager {
        *zoom: 1;
    }

        .n-grid .n-pager:before, .n-grid .n-pager:after {
            display: table;
            content: "";
        }

        .n-grid .n-pager:after {
            clear: both;
        }

        .n-grid .n-pager a {
            text-decoration: none;
            outline: 0;
        }

    .n-grid .n-pager-nav, .n-grid .n-pager-numbers, .n-grid .n-pager-sizes {
        float: left;
        margin: 0 .3em;
        color: #444;
    }

        .n-grid .n-pager-numbers a {
            float: none;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            text-align: center;
            margin: 0 .4em;
            min-width: 1.4em;
            color: #444;
        }

        .n-grid .n-pager-numbers .n-pager-current {
            color: #4fa7f5;
            cursor: default;
            pointer-events: none;
        }

        .n-grid .n-pager-numbers .n-disabled {
            color: #cecece;
        }

    .n-grid .n-pager-info {
        float: right;
        padding-left: 1em;
        margin: 0 .3em;
        color: #a8a8a8;
    }

    .n-grid .n-frozen {
        position: absolute;
        z-index: 1;
        background: #fff;
    }

        .n-grid .n-frozen .n-thead {
            padding: 0;
        }

    .n-grid .n-dragline {
        position: absolute;
        z-index: 2;
        cursor: col-resize;
    }

    .n-grid .n-sortable {
        display: block;
        min-height: 18px;
        line-height: 18px;
        margin: -.5em -.6em -.4em -.6em;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        outline: 0;
        text-decoration: none;
    }

    .n-grid .n-align-left {
        text-align: left;
    }

    .n-grid .n-align-center {
        text-align: center;
    }

    .n-grid .n-align-right {
        text-align: right;
    }

    .n-grid .n-disabled {
        color: #cecece;
        cursor: not-allowed;
    }

    .n-grid .invisible {
        opacity: 0;
        -webkit-transition: opacity 800ms linear;
        -moz-transition: opacity 800ms linear;
        transition: opacity 800ms linear;
    }

.n-thead {
    overflow: hidden;
    zoom: 1;
    background: #f9f9f9;
    color: #a8a8a8;
    border: 1px solid #e5e5e5;
    border-bottom: 0;
}

    .n-thead th {
        border-width: 0 1px 0 0;
        font-weight: 300;
        text-align: center;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
    }

        .n-thead th.n-last {
            border-right: 0;
        }

.n-thead-wrap {
    position: relative;
    z-index: 1;
    overflow: hidden;
    zoom: 1;
}

.n-tbody {
    overflow: auto;
    max-width: 100%;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-bottom: 0;
}

    .n-tbody td {
        border-width: 0 1px 1px 0;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
    }

        .n-tbody td.n-last {
            border-right: 0;
        }

        .n-tbody tr.n-selected td, .n-tbody td.n-selected, .n-tbody tr.n-selected td a, .n-tbody td.n-selected a {
            background: #4fa7f5;
            color: #fff;
        }

    .n-tbody .n-selectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
    }

.n-tbody-wrap {
    zoom: 1;
}

.n-tfoot {
    line-height: 1.5em;
    padding: 9px .5em;
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
    margin-top: -1px;
}

.n-draging {
    cursor: col-resize;
}

.n-fitwidth {
    display: block;
}

    .n-fitwidth table {
        width: 100%;
    }

    .n-fitwidth td.n-last, .n-fitwidth th.n-last {
        border-right: 0;
    }

.n-vscroll .n-thead {
    padding-right: 17px;
}

.n-vscroll.n-webkit .n-thead {
    padding-right: 17px;
}
