html, body, table, div, img,ul {
    margin: 0;
    padding: 0;
}
ul{
    list-style:none;
}

body {
    font-family: "Lucida Grande", Lucida Sans Unicode,Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
    font-size: 14px;
    color: #000;
}



.table{
    margin: 0 auto;
    margin-top: 25px;
    border-collapse: collapse;
}

.flow-table {
    /*width: 800px;*/
}

.flow-table {
    border-left: solid 1px #eee;
    border-bottom: solid 1px #eee;
}

.flow-node {
    background-color: #e3f2f2;
    width: 200px;
    border-top: solid 1px #eee;
    border-right: solid 1px #eee;
    height: 50px;
    text-align: center;
}

.flow-message {
    border-top: solid 1px #eee;
    border-right: solid 1px #eee;
    vertical-align: top;
}


.check-table {
    margin: 0 auto;
    padding: 0;
    width: 98%;
    border-collapse: collapse;
}

.check-head {
    width: 160px;
}

.flow-content {
}

.mainFrame{
    height:100%;
    overflow:hidden;
}

.top {
    height: 80px;
    background-color: #259FE5;
    vertical-align:middle;
    line-height:80px;
}
.top span{
   margin-left:20px;
   font-size:20px;
   font-weight:bold;
   color:#FFF;
}

.content {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
}

.left {
    width: 200px;
    float: left;
    height: 100%;
    background-color: #4BA7DC;
}

.left:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 1%;
    clear: both;
}

.right {
    height: 100%;
    margin-left: 200px;
}

.menu li {
    height: 40px;
    line-height: 40px;
    text-align: left;
}

.menu li:hover {
    background-color: #2982B5;
}

.menu li span {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding-left:20px;
    cursor:pointer;
}
