<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="smartflowConfig" type="Smartflow.SmartflowConfigHandle,Smartflow"/>
  </configSections>
  
  <!--数据库连接配置-->
  <smartflowConfig 
    connectionString="server=127.0.0.1;database=flow;uid=sa;pwd=123456"  
    category="SQLServer" />

</configuration>