@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Smartflow-Sharp工作流程设计器</title>
    <link href="~/Content/smartflow.css" rel="stylesheet" />
    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/svg.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>

    <script src="~/Content/smartflow.js"></script>
    <script src="~/Content/design.js"></script>
    <script type="text/javascript">
        $(function () {
            design.init({
                id: '@ViewBag.WFID',
                container: 'drawing',
                windowUrl: '@Url.Action("WorkflowDesignSettings", "WorkflowDesign")',
                instanceUrl: '@Url.Action("GetWorkflowXml", "WorkflowDesign")',
                saveUrl: '@Url.Action("Save", "WorkflowDesign")'
            });
        });
    </script>
</head>
<body>
    <div class="tools">
        <ul class="tools-menu">
            <li>
                <a href="javascript:;" onclick="design.save()">保存</a>
            </li>
            <li>
                <a href="javascript:;" onclick="SMF.select()">选择</a>
            </li>
            <li>
                <a href="javascript:;" onclick="SMF.connect()">连接</a>
            </li>
            <li>
                <a href="javascript:;" onclick="SMF.create('node')">节点</a>
            </li>
            <li>
                <a href="javascript:;" onclick="SMF.create('decision')">决策</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="container-draw" id="drawing"></div>
    </div>
</body>
</html>
