@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>Smartflow-Sharp工作流程设计器</title>
    <link href="~/Content/smartflow.css" rel="stylesheet" />
    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/svg.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>

    <script src="~/Content/smartflow.js"></script>
    <script src="~/Content/design.js"></script>
    <script type="text/javascript">
        $(function () {
            design.init({
                id: '@ViewBag.WFID',
                container: 'drawing',
                windowUrl: '@Url.Action("WorkflowDesignSettings", "WorkflowDesign")',
                instanceUrl: '@Url.Action("GetWorkflowXml", "WorkflowDesign")',
                saveUrl: '@Url.Action("Save", "WorkflowDesign")'
            });
        });
    </script>
</head>
<body>
    <div class="tools">

        <ul class="tools-menu">
            <li>
                <a href="javascript:;" onclick="design.save()" title="保存">
                    <img src="~/Content/images/save.png"/>
                </a>
            </li>
            <li>
                <a href="javascript:;" onclick="SMF.select()" title="选择">
                    <img src="~/Content/images/select.png"/>
                </a>
            </li>
            <li>
                <a href="javascript:;" onclick="SMF.connect()" title="连接">
                    <img src="~/Content/images/line.png"/>
                </a>
            </li>
            <li>
                <a href="javascript:;" onclick="SMF.create('node')" title="节点">
                    <img src="~/Content/images/node.png"/>
                </a>
            </li>
            <li>
                <a href="javascript:;" onclick="SMF.create('decision')" title="决策">
                    <img src="~/Content/images/decision.png"/>
                </a>
            </li>
        </ul>
    </div>
    <div class="container-ctr">
        <div class="container-draw" id="drawing"></div>
    </div>
</body>
</html>
