@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>流程节点数据配置</title>
    <link href="~/Content/smartflow.css" rel="stylesheet" />
    <link href="~/Content/tree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link href="~/Content/jqgrid/css/ui.jqgrid.css" rel="stylesheet" />
    <link href="~/Content/jqgrid/css/redmond/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/tree/jquery.ztree.all.min.js"></script>

    <script src="~/Content/jqgrid/js/jquery.jqGrid.src.js"></script>
    <script src="~/Content/jqgrid/js/grid.locale-cn.js"></script>
    <style type="text/css">
        #t_userlist {
            border-top: none;
            height: 28px;
        }

        .tables {
            margin: 0;
            padding: 0;
            border-collapse: collapse;
        }

        #pager_right {
            display: none;
        }

        #pager {
            height: 30px;
        }

        .searchBar {
            line-height: 16px;
            outline: none;
        }

        th.ui-th-column div {
            white-space: normal !important;
            height: auto !important;
            padding: 0px;
        }

        .ui-jqgrid-htable {
            border-collapse: collapse;
        }

        .tabsholder3 {
            height: 100%;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            //初始化
            SMF.init();
            loadTree();
            loadSelect();
        });


        function loadTree() {

            var treeSetting = {
                view: {
                    showLine: true
                },
                data: {
                    simpleData: {
                        enable: true,
                        idKey: "Code",
                        pIdKey: "ParentCode",
                        rootPId: ""
                    },
                    key: {
                        name: "Name",
                        children: "Children"
                    }
                },
                callback: {
                    onClick: function (treeId, treeNode, data) {
                        // alert(data.Code);
                        doSearch(data);
                    }
                }
            };

            var settings = {
                url: '@Url.Action("GetOrgTree", "WorkflowDesign")',
                type: 'post',
                dataType: 'json'
            };

            settings.success = function (serverData) {
                var treeObj = $.fn.zTree.init($("#tree"), treeSetting, serverData);
                //var treeObj = $.fn.zTree.getZTreeObj("tree");
                var node = treeObj.getNodesByParam("Code", "000", null);
                if (node) {
                    treeObj.expandAll(true);
                }
            }
            $.ajax(settings);

        }

        function doSearch(data) {
            var search = $("#txtSearchKey").val(),
                postSettings = {},
                o = {};

            if (search) {
                o.searchKey = search;
            }

            var zTreeObj = $.fn.zTree.getZTreeObj("tree"),
                selectedNodes = zTreeObj.getSelectedNodes();

            if (selectedNodes.length > 0) {
                var node = selectedNodes[0];
                data = (data || node);
                o.code = data.Code;
            }

            var eleArrayId = [];

            $("#userAssign li").each(function () {
                var id = $(this).attr('id'),
                    text = $(this).text();

                eleArrayId.push(id);
            });

            if (eleArrayId.length > 0) {
                o.userIdStr = eleArrayId.join(",");
            }

            postSettings.postData = o;
            $("#userlist").jqGrid('setGridParam', postSettings).trigger("reloadGrid");
        }

        function loadSelect() {
            var settings = {
                url: '@Url.Action("GetConfigs", "WorkflowDesign")',
                type: 'post',
                dataType: 'json'
            };

            settings.success = function (serverData) {
            
                var ele = [];
                $.each(serverData, function () {

                    ele.push("<option value='"+this.ID+"'>" + this.Name + "</option>");

                });

                $("#dropConfig").html(ele.join());
                
            }
            $.ajax(settings);
        }

    </script>
</head>
<body>
    <div class="container" style="width:100%;background:#fff;padding-top:5px;">
        <div class="tabsholder3">
            <div class="card-tabs-bar graygreen" style="padding-left:5px;">
                <a href="javascript:;" class="active">基本信息</a>
                <a href="javascript:;">参与角色</a>
                <a href="javascript:;">参与人</a>
                <a href="javascript:;">规则配置</a>
            </div>
            <div class="card-tabs-stack graygreen">
                <div data-tab="基本信息" style="display: block;height:240px;overflow:hidden;">
                    <table class="smartflow-table">
                        <tr>
                            <td style="width:60px;">名称</td>
                            <td>
                                <input type="text" style="width:100%;height:18px;" id="txtName" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div data-tab="参与角色" style="display: none; height: 240px;">
                    <table class="smartflow-table">
                        <tr>
                            <td class="smartflow-box">
                                <ul class="smartflow-list" id="roleGrid"></ul>
                            </td>
                            <td class="smartflow-tools" style="width:10px;"></td>
                            <td class="smartflow-box">
                                <ul class="smartflow-list" id="roleAssign"></ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <div data-tab="参与人" style="display: none; height: 240px;">
                    <table class="smartflow-table">
                        <tr>
                            <td class="smartflow-box" style="width:160px;">
                                <ul id="tree" class="ztree" style="height:100%; overflow:auto;width:160px;"></ul>
                            </td>
                            <td>
                                <table id="userlist" class="table"></table>
                                <div id="pager"></div>
                            </td>
                            <td class="smartflow-box">
                                <ul class="smartflow-list" id="userAssign"></ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <div data-tab="规则配置" style="display: none; height: 240px;">
                    <table class="smartflow-table">
                        <tr>
                            <td>
                                <label for="dropConfig">数据源</label>
                                <select id="dropConfig"></select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="txtSql">SQL脚本</label>
                                <input type="text" id="txtSql" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>
                                        <label for="txtkjxxzx">科技信息中心</label>
                                        <input type="text" id="txtkjxxzx" />
                                    <li>
                                    <li>
                                        <label for="bmb">保密办</label>
                                        <input type="text" id="txtbmb" />
                                    <li>
                                    <li>
                                        <label for="txtbzb">保障部</label>
                                        <input type="text" id="txtbzb" />
                                    <li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/template" id="tbTemplate">
        <table class="tables">
            <tr>
                <td style="vertical-align:top;">
                    <label for="txtSearchKey">关键字：</label>
                    <input type="text" id="txtSearchKey" class="searchBar" placeholder="用户名称" />
                </td>
                <td style="vertical-align:top;">
                    <input type="button" value="搜索" id="btnSearch" />
                </td>
            </tr>
        </table>
    </script>
    <script src="~/Content/design.js"></script>
</body>

</html>
