@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>流程节点数据配置</title>
    <link href="~/Content/smartflow.css" rel="stylesheet" />
    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/design.js"></script>
    <script type="text/javascript">
        $(function () {
            //初始化
            SMF.init();
        });
    </script>
</head>
<body>
    <div class="container" style="width:100%;background:#fff;padding:5px;">
        <div class='example'>
            <div class="tabsholder3">
                <div class="card-tabs-bar graygreen">
                    <a href="javascript:;" class="active">基本信息</a>
                    <a href="javascript:;">参与角色</a>
                </div>
                <div class="card-tabs-stack graygreen">
                    <div data-tab="基本信息" style="display: block;height:240px;overflow:hidden;">
                        <table class="smartflow-table">
                            <tr>
                                <td style="width:60px;">名称</td>
                                <td>
                                    <input type="text" style="width:100%;height:18px;" id="txtName" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div data-tab="参与角色" style="display: none; height: 240px;">
                        <table class="smartflow-table">
                            <tr>
                                <td>
                                    <fieldset class="smartflow-box">
                                        <legend>待选角色</legend>
                                        <ul class="smartflow-list" id="roleGrid"></ul>
                                    </fieldset>
                                </td>
                                <td class="smartflow-tools"></td>
                                <td>
                                    <fieldset class="smartflow-box">
                                        <legend>已选角色</legend>
                                        <ul class="smartflow-list" id="roleAssign"></ul>
                                    </fieldset>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
