@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Smartflow 业务流程图</title>
    <link href="~/Content/smartflow.css" rel="stylesheet" />
    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/json2.js"></script>
    <script src="~/Content/svg.js"></script>
    <script src="~/Content/smartflow.js"></script>
    <script type="text/javascript">
        $(function () {
            var draw = window.SMF.init('drawing');
            if ('@ViewBag.Result') {
                var serverData = JSON.parse(@ViewBag.Result);
                SMF.revert(serverData.Image, true, serverData.Current.ID);
            }
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="container-draw" id="drawing"></div>
    </div>
</body>
</html>
