@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>流程节点数据配置</title>
    <link href="~/Content/smartflow.css" rel="stylesheet" />
    <link href="~/Content/tree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/tree/jquery.ztree.all.min.js"></script>

    <script src="~/Content/settings.js"></script>

    <style type="text/css">
        .layui-elem-field legend{
            margin-left:8px;
            font-size:16px;
        }
        .layui-field-box{
            height:220px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            SMF.init({
                configUrl: '@Url.Action("GetConfigs", "WorkflowDesign")',
                treeUrl: '@Url.Action("GetOrgTree", "WorkflowDesign")',
                roleUrl: '@Url.Action("GetRole", "WorkflowDesign")',
                userUrl: '@Url.Action("GetUserList", "WorkflowDesign")'
            });
        });
    </script>
</head>
<body>
    <div class="layui-container">
        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">基本信息</li>
                <li>参与角色</li>
                <li>规则配置</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <table class="layui-table" lay-size="sm" lay-skin="nob">
                        <tr>
                            <td style="width:60px;">名称</td>
                            <td>
                                <input type="text" class="layui-input" id="txtNodeName" style="height:30px;min-height:30px;" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-row">
                        <div class="layui-col-xs6">
                            <fieldset class="layui-elem-field" style="height:230px;margin-right:1px;">
                                <legend>待选角色</legend>
                                <div class="layui-field-box">
                                    <ul id="roleGrid"></ul>
                                </div>
                            </fieldset>
                        </div>


                        <div class="layui-col-xs6">

                            <fieldset class="layui-elem-field" style="height:230px;margin-left:1px;">
                                <legend>已选角色</legend>
                                <div class="layui-field-box">
                                    <ul id="roleAssign"></ul>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <table class="layui-table"  lay-size="sm">
                        <tbody>
                            <tr>
                                <td style="width:120px;">
                                    数据源
                                </td>
                                <td>
                                    <select id="ddlRuleConfig" class="layui-select" style="width:100%;height:30px;min-height:30px;"></select>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:120px;">SQL脚本</td>
                                <td>
                                    <textarea id="txtCommand" class="layui-textarea" style="width:100%;height:40px;min-height:20px;resize:none"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="layui-table" lay-size="sm">
                        <tbody>
                            <tr>
                                <td>提交科技信息中心主任审批</td>
                                <td>2016-11-29</td>
                            </tr>
                            <tr>
                                <td>提交后勤保障部门审批</td>
                                <td>于千万人之中遇见你所遇见的</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/layui/layui.js"></script>

    <script type="text/javascript">
        //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function () {
            var element = layui.element;

        });
    </script>
</body>
</html>
