@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/smartflow.css" rel="stylesheet" />
    <script src="~/Content/jquery-1.6.4.min.js"></script>
    <script src="~/Content/svg.js"></script>
    <script src="~/Content/smartflow.js"></script>

    <script type="text/javascript">

        $(function () {
            var wfID = '@ViewBag.WfID';
            if (wfID !== '0') {
                $.ajax({
                    url:'@Url.Action("GetResult", "Default")',
                    type: 'post',
                    dataType: 'json',
                    data: { wfID: wfID },
                    success: function (serverData) {
                        Revert(serverData);
                    }
                })
            }
        });


        function Revert(data) {

            var origin = JSON.parse(unescape(data.ORIGIN));
            var nodeCollection = origin.NC, pathCollection =origin.PC, relationCollection = origin.RC;

            $.each(nodeCollection, function () {
                var self = this;
                var instance = new Node();
                $.extend(instance, this);
                instance.draw();

                $.each(["to", "from"], function () {
                    eachNode(instance.id, self.id, this);
                });
            });

            $.each(pathCollection, function () {
                var instance = new Line();
                $.extend(instance, this);
                instance.draw();
                eachNode(instance.id, this.id, "id");
            });

            $.each(relationCollection, function () {
                relationShip.push(this);
            });

            function eachNode(id, originId, nid) {
                $.each(relationCollection, function () {
                    var self = this;
                    if (self[nid] === originId) {
                        self[nid] = id;
                    }
                });
            }
        }

    </script>
</head>
<body>
 
    <div class="tools">
        <ul class="tools-menu">
            <li>
                <a href="#" onclick="exportJson()">保存</a>
            </li>
            <li>
                <a href="#" onclick="select()">选择</a>
            </li>
            <li>
                <a href="#" onclick="connect()">连接</a>
            </li>
            <li>
                <a href="#" onclick="createNode()">节点</a>
            </li>
            <li>
                <a href="#" onclick="createDecision()">决策</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="container-draw" id="drawing"></div>
    </div>
</body>
</html>
