@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/smartflow.css" rel="stylesheet" />
    <script src="~/Content/jquery-1.6.4.min.js"></script>
    <script src="~/Content/svg.js"></script>
    <script src="~/Content/smartflow.js"></script>

    <script type="text/javascript">
        /*

        var origin = JSON.stringify(Wrapper),
          xml = builder.toString();



        $.ajax({
            url: '../Default/Save',
            data: { NAME: 'test', XML: escape(xml), ORIGIN: escape(origin) },
            type: 'POST',
            success: function () {
                alert("操作成功");
            }
        })
*/


        @*$(function () {
            var wfID = '@ViewBag.WfID';
            if (wfID !== '0') {
                $.ajax({
                    url:'@Url.Action("GetResult", "Default")',
                    type: 'post',
                    dataType: 'json',
                    data: { wfID: wfID },
                    success: function (serverData) {
                        Revert(serverData);
                    }
                })
            }
        });*@


        $(function () {

            $("#drawing").SmartFlow({

            });
        });


    </script>
</head>
<body>
 
    <div class="tools">
        <ul class="tools-menu">
            <li>
                <a href="#" onclick="SMF.exportToJSON()">保存</a>
            </li>
            <li>
                <a href="#" onclick="SMF.select()">选择</a>
            </li>
            <li>
                <a href="#" onclick="SMF.connect()">连接</a>
            </li>
            <li>
                <a href="#" onclick="SMF.create('node')">节点</a>
            </li>
            <li>
                <a href="#" onclick="createDecision()">决策</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="container-draw" id="drawing"></div>
    </div>
</body>
</html>
