@model System.Collections.Generic.IEnumerable<Smartflow.Web.Code.WorkflowXml>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Smartflow 工作流程列表</title>
    <style type="text/css">
       .panel{
           width:98%;
           margin:0 auto;
       }
       .table{
           width:100%;
           min-width:800px;
       }

       .table td{
           border-bottom:solid 1px #eee;
           line-height:28px;
       }

       .table th{
           border-bottom:solid 1px #eee;
           line-height:35px;
       }

       .btn{
           padding:5px 10px;
           border:solid 1px #EFC10C;
           margin-bottom:3px;
       }
    </style>
    <script type="text/javascript">
        function openWin(url) {
            var iTop = (window.screen.availHeight - 30 - 560) / 2; 
            var iLeft = (window.screen.availWidth - 10 - 960) / 2; 
            window.open(url, 'newwindow', "height=560, width=960, top="+iTop+" left="+iLeft+", toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no");
        }
    </script>
</head>
<body>
    <div class="panel panel-default">
        <div style="text-align:right;">
            <!-- Default panel contents -->
            <input type="button" value="增加" class="btn" onclick="openWin('@Url.Action("Index","Default")')" />
            <!-- Table -->
        </div>
        <table class="table  table-hover">
            <thead>
                <tr>
                    <th style="width:50px;">序号</th>
                    <th>名称</th>
                    <th style="width:120px;">操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int counter = 1;
                }
                @foreach (Smartflow.Web.Code.WorkflowXml wf in Model)
                {
                <tr>
                    <td style="width:50px;text-align:center;">@(counter++)</td>
                    <td>@wf.NAME</td>
                    <td style="width:120px;text-align:center;">
                        <a href="javascript:openWin('@Url.Action("Index", "Default" , new { id=wf.WFID })')">修改</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
    </div>
</body>
</html>
