@model System.Collections.Generic.IEnumerable<Smartflow.Integration.Models.Record>
@if (Model.Count() > 0)
{
    <table class="table flow-table">
        <tr>
            <td colspan="2" style="text-align:right;border-top:solid 1px #eee;border-right:solid 1px #eee;">
                <a href="#" onclick="openWinWorkflowImage('../../../Smartflow.Web.Design/WorkflowDesign/WorkflowImage?instanceID=@(ViewBag.InstanceID)')">查看流程图</a>
            </td>
        </tr>
        @foreach (Smartflow.Integration.Models.Record rec in Model)
        {
            <tr>
                <td class="flow-node">@rec.NODENAME</td>
                <td class="flow-message">@rec.MESSAGE</td>
            </tr>
        }
    </table>
}