 html, body, div, ul,fieldset {margin: 0;padding: 0; }
 body{font-size:14px;font-family:"Lucida Grande", Lucida Sans Unicode,Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;}
 fieldset legend{margin:0;padding:0;color:#2e7deb;margin-left:5px;}
 ul {list-style-type: none;}
 input,textarea{outline:none;}
 textarea {resize: none;}
 html, body,.container, .container-ctr {height: 100%;overflow: hidden;}
 .container-ctr{ margin-left:30px; padding:10px;box-sizing:border-box;background-color:#888; }
 .tools {width: 30px;float: left;background-color: #eee;height: 100%;border-right:1px solid #D9D9D9;box-sizing:border-box;}
 .tools::after {content: ".";display: block;visibility: hidden;height: 1%;clear: both;}
 .tools-menu li {line-height: 45px;text-align: center;}
 .tools-menu li a{text-decoration:none;}
 .container-draw {width: 100%; height: 100%;background-color:#fff;}
text {font-size: 14px;text-anchor: middle; dominant-baseline: middle;pointer-events: none; }
.rect:hover,.line:hover,.circle:hover{fill:#f8e233;stroke:#f8e233;}
.smartflow-table{margin: 0; padding: 0;border-collapse: collapse;font-size:14px;}
.smartflow-list{font-size:14px;color:#666666;}
.smartflow-list li{line-height:25px;cursor:pointer;}
.smartflow-table td input[type='text']{padding-left:2px;}
.layui-elem-field legend {margin-left: 8px;font-size: 16px;}
.layui-field-box {height: 320px;}
.smartflow-role-box{height: 320px;margin-top: 11px;position:relative;}
.smartflow-role-list{position:absolute;top:31px;left:0;bottom:0;right:0;border:solid 1px #e6e6e6;padding:10px 15px;}
.smartflow-header {text-align: right;width: 150px;}
.layui-tab-content {padding: 5px;}
.layui-field-title-mp {margin: 0;padding: 0;}
.layui-btn {border-radius: initial !important;line-height: 28px !important;height: 28px !important;}
.smartflow-table-tb{margin-top: 0px;margin-bottom: 0px;}
.layui-elem-field-h {height: 330px;}
.smartflow-input{height:30px;min-height:30px;border-radius:initial;}
.smartflow-tree{
            position:absolute;
            width:180px;
            height:200px;
            z-index:5;
            background-color:#F2F2F2;
            display:none;
        }
.smartflow-search-input{
    padding-right:14px;
}
.smartflow-search-icon{
    position:absolute;right:4px;top:8px;
    cursor:pointer;
}
.smartflow-table-actor{
            margin-bottom:4px;
            margin-top:11px
        }
.layui-table-view{
            margin-top:0 !important;
        }
.table-actor-cm{
   width:60px;
   text-align:center;
   font-size:14px;
   color:#666666
 }
.smartflow-textarea{
     width:100%;
     height:60px;
     min-height:20px;
     resize:none;
     word-break: break-all;
     border-radius:initial;
 }
.layui-layer,.layui-layer-btn0, .layui-layer-btn1{
     border-radius:0 !important;
 }
.note-table{
 margin-left:10px;
 margin-right:10px;
 font-size:14px;
 letter-spacing: 0.5px;
 color:#666666;
}

.note-table td{
    line-height:25px;
}

.note-column{
    width:50px;
    vertical-align:top;
}
.note-content{
    vertical-align:top;
    text-align:justify;
  
}